* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'inter regular';
    src: url('fonts/Inter-Regular.woff2') format('woff2'),
         url('fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'forest';
    src: url('fonts/glyphworld-forest-webfont.woff2') format('woff2'),
         url('fonts/glyphworld-forest-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 1.5vw;
    line-height: 1.4em;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
    border: 0.17rem solid #000;
    border-radius: 1rem 0;
    background-color: #fff;
}

a:hover {
    background-color: rgba(0,255,0,1);
}

a:focus {
    background-color: #27c227;
}

span {
    font-family: 'forest';
}

#section2 {
    position: absolute;
    padding: 2rem 0;
    font-size: 2.3rem;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
}

.button {
    padding: 0.5rem;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    height: 97%;
    margin: 1.1rem 0.7rem 0 0.7rem;
}

.control  {
    position: absolute;
    width: 5rem;
    margin: 19rem 29rem;
    mix-blend-mode: screen;
    z-index: 2;
}

/*------------------*
        text  
*------------------*/
div.manifesto {
    font-family: 'inter';
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 1.05em;
    margin: 5rem .5rem 1rem 0.5rem;
}

.container .manifesto .margin {
    margin-bottom: 0.8rem;
}

/*------------------*
        gifs  
*------------------*/
.container .manifesto .form {
    width: 20%;
    position: absolute;
    z-index: -1;
}

.container .manifesto .form2 {
    width: 40%;
    position: absolute;
    z-index: -1;
    left: 0;
}

.container .manifesto .form3 {
    position: absolute;
    width: 28%;
    z-index: -1;
}

.container .manifesto .form4 {
    width: 35%;
    position: absolute;
    z-index: -1;
    left: 0;
}

.container .manifesto .form5 {
    width: 30%;
    position: absolute;
    z-index: -1;
    right: 0;
}

/*------------------*
       gradient 
*------------------*/
.container .manifesto .gradient-green {
    margin: -1.5rem;
    padding: -1rem;
    height: 10rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(0,255,0,0), rgba(0,255,0,1));
    mix-blend-mode: multiply;
}

/*------------------*
    media queries  
*------------------*/
@media screen and (max-width: 1025px) {
    :root {
        font-size: 2.3vw; 
    }

    .control {
        margin: 11rem 18rem;
    }
}

@media screen and (max-width: 769px) {
     :root{
         font-size: 2vw;
    }

    .control {
        width: 5.5rem;
         margin: 13rem 21rem;
    }
}

@media screen and (max-width: 577px) {
    :root{
        font-size: 2.8vw;
    }

    div.manifesto {
        margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    }
    
    #section2 {
        margin: auto; 
        text-align: center;
    }

    .control {
        width: 9.5rem;
        margin: 7rem 12rem;
        mix-blend-mode: darken;
   }
}
